@import "assets/_normalize";
@import "assets/_mixnins";
@import "assets/_var";

html {
  font-size: 16px;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  @media @lg {
    overflow-x: scroll;
  }
}

h1,
h2,
h3,
h4,
h5,
h5 {
  padding: 0;
  margin: 0;
}
h3,
h5 {
  color: @orange;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  @media @lg {
    min-width: 224vw;
  }
  .table {
    display: flex;
    flex-direction: column;
    width: 70%;
    background: @orange;
    color: @black;
    @media @lg {
      width: 100%;
    }
    &-workers {
      &-item {
        display: flex;
        align-items: center;
        word-break: break-word;
        height: 100px;
        .border();
        .name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          span {
            display: block;
          }
        }
        .date {
          text-align: center;
          .border();
          content: "";
          height: 100px;
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .task-item {
            justify-content: center;
            flex-direction: column;
            cursor: pointer;

            max-height: 100%;
            background: #000;
            margin-top: 0;
            .br(15px);
            .trs();
            h5 {
              font-size: 13px;
              .trs();
            }
          }
          .task-item-dates {
            justify-content: center;
            color: @orange;
            height: 0;
            max-height: 0;
            opacity: 0;
            transition: opacity 0.5s;
          }
          .task-item:hover {
            flex-direction: column;
            height: 100%;
            width: 100%;
            max-height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 6;
            .trs();
            .task-item-dates {
              height: auto;
              max-height: 100%;
              opacity: 1;
              transition: opacity 0.5s;
            }
          }
        }

        .date,
        .name {
          width: calc(100% / 8);
        }
      }
    }

    .table-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-item {
        text-align: center;
        padding: 10px;
        width: calc(100% / 8);
        height: 42px;
        font-size: 20px;
        font-weight: bold;
        .border();
        flex: 1 0 auto;
      }
    }
  }
  .task {
    padding: 10px;
    overflow: hidden;
    height: 100%;
    background: @black;
    width: 30%;
    position: fixed;
    top: 0;
    right: 0;

    @media @lg {
      display: none;
    }
    h3 {
      font-weight: 600;
      font-size: 2em;
      margin: 10px 0;
    }
    &-search {
      outline: none;
      border: none;
      background: none;
      border-bottom: 2px dashed @orange;
      color: #ffff;
      width: 100%;
      padding: 10px 0;
    }
    &-search::placeholder {
      color: @orange;
    }
    &-wrapper {
      margin-top: 10px;
      overflow: auto;
      max-height: 533px;
      padding-right:10px;
    }
    &-wrapper::-webkit-scrollbar {
      width: 8px;
    }
    &-wrapper::-webkit-scrollbar-track {
      background-color: #fff;
      .br(10px);
    }
    &-wrapper::-webkit-scrollbar-thumb {
      .br(10px);
      background: @orange;
    }
    &-item {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid @orange;
      padding: 5px;
      position: relative;
      @media @lg {
        flex-direction: column;
      }
      h5 {
        font-size: 1.1em;
        word-break: break-word;
      }
      &-dates {
        display: flex;
        flex-direction: column;
        color: @orange;
        .task-item-date:first-child {
          margin-bottom: 10px;
        }
      }
      &-header {
      }
      h6 {
        text-align: center;
        color: @gray;
        font-size: 1.2em;
      }
    }
    &-item:first-child {
      margin-top: 0;
    }
  }
}
.nav {
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
  gap: 10px;
  &-next,
  &-prev {
    outline: none;
    padding: 0.75rem 1.25rem;
    font-size: 1em;
    display: block;
    cursor: pointer;
    background: @orange;
    color: @black;
    border: 1px solid #fff;
    .br(10px);
    .trs();
  }
  &-next:hover,
  &-prev:hover {
    .trs();
    box-shadow: 0 0 10px 0 @orange;
  }
}
.collapse {
  display: none !important;
  .trs();
}
.dragging {
  opacity: 0.5;
  .trs();
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: @black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  img {
    display: block;
    margin: auto;
  }
}
.hide {
  z-index: -1;
  opacity: 0;
  .trs();
}
html::-webkit-scrollbar {
  width: 8px;
  .br(10px);
}
html::-webkit-scrollbar-track {
  background: #fff;
  .br(10px);
  border: 1px solid #fff;
}
html::-webkit-scrollbar-thumb {
  .br(10px);
  background: @orange;
  @media @lg {
    background: @black;
  }
}
