@import "_mixnins";
@import "_var";
html {
  font-size: 16px;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  @media @lg {
    overflow-x: scroll;
  }
}

h1,
h2,
h3,
h4,
h5,
h5 {
  padding: 0;
  margin: 0;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  @media @lg {
    min-width: 224vw;
  }
  .table {
    display: flex;
    flex-direction: column;
    width: 70%;
    @media @lg {
      width: 100%;
    }
    &-workers {
      &-item {
        display: flex;
        align-items: center;
        word-break: break-word;
        height: 100px;
        .border();
        .name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          span {
            display: block;
          }
        }
        .date {
          text-align: center;
          .border();
          content: "";
          height: 100px;
          position: relative;
          .task-item {
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            .trs();
            background: @orange;
            height: 100%;
          }
          .task-item-dates {
            position: absolute;
            justify-content: center;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            background: @orange;
            opacity: 0;
            .trs();
          }
        }
        .date:hover {
          .task-item {
            flex-direction: column;
            .trs();
            .task-item-dates {
              opacity: 1;
              height: 100%;
              width: 100%;
              .trs();
            }
          }
        }
        .date,
        .name {
          width: calc(100% / 8);
        }
      }
    }

    .table-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-item {
        text-align: center;
        padding: 10px;
        width: calc(100% / 8);
        height: 42px;
        .border();
        flex: 1 0 auto;
      }
    }
  }
  .task {
    padding: 10px;
    overflow: hidden;
    border: 1px solid @gray;
    height: fit-content;
    width: 30%;
    position: fixed;
    top: 0;
    right: 0;
    @media @lg {
      display: none;
    }
    h3 {
      font-weight: 600;
      font-size: 2em;
      margin-bottom: 10px;
    }
    &-search {
      outline: none;
      border: 1px solid #becad6;
      .br(10px);
      width: 100%;
      padding: 10px;
    }
    &-wrapper {
      margin-top: 10px;
      overflow: auto;
      max-height: 450px;
    }
    &-item {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid @gray;
      padding: 5px;
      position: relative;
      @media @lg {
        flex-direction: column;
      }
      h5 {
        font-size: 1.1em;
      }
      &-dates {
        display: flex;
        flex-direction: column;
        .task-item-date:first-child {
          margin-bottom: 10px;
        }
      }
      &-header {
      }
      h6 {
        text-align: center;
        color: @gray;
        font-size: 1.2em;
      }
    }
    &-item:first-child {
      margin-top: 0;
    }
  }
}
.nav {
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
  gap: 10px;
  &-next,
  &-prev {
    outline: none;
    border: none;
    padding: 0.75rem 1.25rem;
    font-size: 1em;
    display: block;
    cursor: pointer;
    background: @blue;
    color: #fff;
    .br(10px);
    .trs();
  }
  &-next:hover,
  &-prev:hover {
    .trs();
    box-shadow: 0 0 10px 0 @blue;
  }
}
.collapse {
  display: none;
  .trs();
}
.dragging {
  opacity: 0.5;
  .trs();
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  img {
    display: block;
    margin: auto;
  }
}
.hide{
  z-index: -1;
  opacity: 0;
  .trs();
}